<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kuruibao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>170D95431D2370A500E4D4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170D955C1D2370A500E4D4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170D95671D2370A500E4D4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
